<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to TripCraft</title>
<link rel="stylesheet" href="{% static 'css/tripcraft.css' %}"> 
</head>
<body>
<nav>
<h2 class="logo">TripCraft</h2>
<div>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About us</a>
        <a href="/login">Login </a>
</div>
</nav>
<h1>Welcome to TripCraft!</h1>
<p>Craft your journey.</p>
<button class="button">Get Started</button>
<footer>
<p>&copy; 2025 TripCraft | All Rights Reserved</p>
<p>Made with ❤️ by the Code Wizards</p>
</footer>
</body>
</html>
